# This file is transmogrified into Setup.config by config.status.

# The purpose of this file is to conditionally enable certain modules
# based on configure-time options.

# init system calls(posix/nt/...) for INITFUNC (used by makesetup)
nt -DPy_BUILD_CORE_BUILTIN -I$(srcdir)/Include/internal posixmodule.c

# This is needed to find out the user's home dir if $HOME is not set
#pwd pwdmodule.c

# build-in modules for windows platform:
winreg ../PC/winreg.c
msvcrt -DPy_BUILD_CORE ../PC/msvcrtmodule.c
_winapi _winapi.c

