BODY {
  font-weight: normal;
  background-color: #E0E0E0;
}

.keyword {
  color: brown;
  font-weight: bold;
}

.string {
  color: darkgreen;
}

.comment {
  color: navy;
  font-style: italic;
}

.number {
  color: blue;
}

.type {
    color: teal;
    text-decoration: underline;
}

.preproc {
     color: darkred;
}

.function {
     color: black;
     text-weight: bold;
}

.normal {
  color: purple;
}

.symbol {
  color: black;
}

.cbracket {
  color: black;
}
