BODY {
  font-weight: normal;
  background-color: #E0E0E0;
}

.keyword {
  color: brown;
  font-weight: bold;
}

.type {
  color: brown;
  font-weight: bold;
}

.string {
  color: darkgreen;
}

.comment {
  color: navy;
  font-style: italic;
}

.number {
  color: blue;
}

