body {
  background-color: #bfbfbf;
  color: #656565;
  font-weight: normal;
  font-style: normal;
}

.keyword {
  color: #353535;
  font-weight: bold;
  font-style: normal;
}

.type {
  color: #3241c6;
  font-weight: normal;
  font-style: normal;
}

.string {
  color: #005599;
  font-weight: normal;
  font-style: normal;
}

.specialchar {
  color: #005599;
  font-weight: normal;
  font-style: normal;
}

.comment {
  color: #d11d20;
  font-weight: normal;
  font-style: italic;
}

.number {
  color: #16930d;
  font-weight: normal;
  font-style: normal;
}

.preproc {
  color: #000033;
  font-weight: normal;
  font-style: normal;
}

.symbol {
  color: #222222;
  font-weight: normal;
  font-style: normal;
}

.function {
  color: #38255c;
  font-weight: normal;
  font-style: normal;
}

.cbracket {
  color: #222222;
  font-weight: normal;
  font-style: normal;
}

