body {
  background-color: #003400;
  color: #00bb00;
  font-weight: normal;
  font-style: normal;
}

.keyword {
  color: #00ed00;
  font-weight: bold;
  font-style: normal;
}

.type {
  color: #00ed00;
  font-weight: normal;
  font-style: normal;
}

.string {
  color: #dfdfdf;
  font-weight: normal;
  font-style: normal;
}

.specialchar {
  color: #dfdfdf;
  font-weight: normal;
  font-style: normal;
}

.comment {
  color: #888888;
  font-weight: normal;
  font-style: italic;
}

.number {
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
}

.preproc {
  color: #bfbfbf;
  font-weight: normal;
  font-style: normal;
}

.symbol {
  color: #2fe7a9;
  font-weight: normal;
  font-style: normal;
}

.function {
  color: #c0ff73;
  font-weight: normal;
  font-style: normal;
}

.cbracket {
  color: #2fe7a9;
  font-weight: normal;
  font-style: normal;
}

