body {
  background-color: #ffffff;
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

.keyword {
  color: #7f0055;
  font-weight: bold;
  font-style: normal;
}

.type {
  color: #7f0055;
  font-weight: bold;
  font-style: normal;
}

.string {
  color: #0000ff;
  font-weight: normal;
  font-style: normal;
}

.specialchar {
  color: #0000ff;
  font-weight: normal;
  font-style: normal;
}

.comment {
  color: #717ab3;
  font-weight: normal;
  font-style: normal;
}

.number {
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

.preproc {
  color: #3f5fbf;
  font-weight: normal;
  font-style: normal;
}

.function {
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

