body {
  background-color: #000000;
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
}

.keyword {
  color: #00ffff;
  font-weight: bold;
  font-style: normal;
}

.type {
  color: #ffff00;
  font-weight: normal;
  font-style: normal;
}

.string {
  color: #cd00ff;
  font-weight: normal;
  font-style: normal;
}

.specialchar {
  color: #cd00ff;
  font-weight: normal;
  font-style: normal;
}

.comment {
  color: #00ff00;
  font-weight: normal;
  font-style: italic;
}

.number {
  color: #ff00ff;
  font-weight: normal;
  font-style: normal;
}

.preproc {
  color: #ffbb00;
  font-weight: normal;
  font-style: normal;
}

.symbol {
  color: #ee5896;
  font-weight: bold;
  font-style: normal;
}

.function {
  color: #ffffff;
  font-weight: bold;
  font-style: normal;
}

.cbracket {
  color: #ee5896;
  font-weight: bold;
  font-style: normal;
}

