body {
  background-color: #ffffff;
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

.keyword {
  color: #a52a2a;
  font-weight: normal;
  font-style: normal;
}

.type {
  color: #0000ff;
  font-weight: normal;
  font-style: normal;
}

.string {
  color: #ff00ff;
  font-weight: normal;
  font-style: normal;
}

.specialchar {
  color: #ff00ff;
  font-weight: normal;
  font-style: normal;
}

.comment {
  color: #ff0000;
  font-weight: normal;
  font-style: normal;
}

.number {
  color: #ff00ff;
  font-weight: normal;
  font-style: normal;
}

.preproc {
  color: #a020f0;
  font-weight: normal;
  font-style: normal;
}

.function {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

