body {
  background-color: #ed6104;
  color: #0000ff;
  font-weight: normal;
  font-style: normal;
}

.keyword {
  color: #ffffff;
  font-weight: bold;
  font-style: normal;
}

.type {
  color: #ffffff;
  font-weight: bold;
  font-style: normal;
}

.string {
  color: #11f80c;
  font-weight: normal;
  font-style: normal;
}

.specialchar {
  color: #11f80c;
  font-weight: normal;
  font-style: normal;
}

.comment {
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

.number {
  color: #971ad8;
  font-weight: normal;
  font-style: normal;
}

.preproc {
  color: #7b44e0;
  font-weight: normal;
  font-style: normal;
}

.symbol {
  color: #dedede;
  font-weight: bold;
  font-style: normal;
}

.function {
  color: #fff700;
  font-weight: bold;
  font-style: normal;
}

.cbracket {
  color: #dedede;
  font-weight: bold;
  font-style: normal;
}

