body {
  background-color: #ffff80;
  color: #2C7B34;
  font-weight: normal;
  font-style: normal;
}

.keyword {
  color: #1d45d6;
  font-weight: bold;
  font-style: normal;
}

.type {
  color: #ed0f55;
  font-weight: bold;
  font-style: normal;
}

.string {
  color: #ca4be3;
  font-weight: normal;
  font-style: normal;
}

.specialchar {
  color: #ca4be3;
  font-weight: normal;
  font-style: normal;
}

.comment {
  color: #24c815;
  font-weight: normal;
  font-style: italic;
}

.number {
  color: #e11a70;
  font-weight: normal;
  font-style: normal;
}

.preproc {
  color: #1583b1;
  font-weight: normal;
  font-style: normal;
}

.symbol {
  color: #fa4700;
  font-weight: normal;
  font-style: normal;
}

.function {
  color: #1d45d6;
  font-weight: normal;
  font-style: normal;
}

.cbracket {
  color: #fa4700;
  font-weight: normal;
  font-style: normal;
}

