body {
  background-color: #ffffff;
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

.keyword {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

.type {
  color: #830000;
  font-weight: normal;
  font-style: normal;
}

.string {
  color: #ff0000;
  font-weight: normal;
  font-style: normal;
}

.specialchar {
  color: #ff00ff;
  font-weight: normal;
  font-style: normal;
}

.comment {
  color: #838183;
  font-weight: normal;
  font-style: italic;
}

.number {
  color: #2928ff;
  font-weight: normal;
  font-style: normal;
}

.preproc {
  color: #008200;
  font-weight: normal;
  font-style: normal;
}

.function {
  color: #010181;
  font-weight: normal;
  font-style: normal;
}

