body {
  background-color: #ffffff;
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

.keyword {
  color: #0000ff;
  font-weight: normal;
  font-style: normal;
}

.type {
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

.string {
  color: #800000;
  font-weight: normal;
  font-style: normal;
}

.specialchar {
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

.number {
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

.function {
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

