body {
  background-color: #ffdab9;
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

.keyword {
  color: #a52a2a;
  font-weight: bold;
  font-style: normal;
}

.type {
  color: #2e8b57;
  font-weight: bold;
  font-style: normal;
}

.string {
  color: #c00058;
  font-weight: normal;
  font-style: normal;
}

.specialchar {
  color: #6a5acd;
  font-weight: normal;
  font-style: normal;
}

.comment {
  color: #406090;
  font-weight: normal;
  font-style: normal;
}

.number {
  color: #c00058;
  font-weight: normal;
  font-style: normal;
}

.preproc {
  color: #cd00cd;
  font-weight: normal;
  font-style: normal;
}

.function {
  color: #521cc7;
  font-weight: normal;
  font-style: normal;
}

