body {
  background-color: #ffffff;
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

.keyword {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

.type {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

.string {
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

.specialchar {
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

.comment {
  color: #666666;
  font-weight: normal;
  font-style: italic;
}

.number {
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

.preproc {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

.symbol {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

.cbracket {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

