body {
  background-color: #ffffff;
  color: #696969;
  font-weight: normal;
  font-style: normal;
}

.keyword {
  color: #696969;
  font-weight: bold;
  font-style: normal;
}

.type {
  color: #696969;
  font-weight: normal;
  font-style: normal;
}

.string {
  color: #008800;
  font-weight: normal;
  font-style: normal;
}

.specialchar {
  color: #008800;
  font-weight: normal;
  font-style: normal;
}

.comment {
  color: #1326a2;
  font-weight: normal;
  font-style: italic;
}

.number {
  color: #bb00ff;
  font-weight: normal;
  font-style: normal;
}

.preproc {
  color: #470000;
  font-weight: normal;
  font-style: normal;
}

.function {
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

