body {
    color: black;
    background-color: white;
    font-family: monospace
}

.comment {
    color: gray;
    font-style: italic;
}

.keyword {
    color: maroon;
    font-weight: bold;
}

.string {
    color: green
}

.type {
    color: teal;
    text-decoration: underline;
}
