body {
  background-color: #d7ffff;
  color: #47406d;
  font-weight: normal;
  font-style: normal;
}

.keyword {
  color: #2cae1e;
  font-weight: bold;
  font-style: normal;
}

.type {
  color: #8b51c0;
  font-weight: normal;
  font-style: normal;
}

.string {
  color: #5f81b3;
  font-weight: normal;
  font-style: normal;
}

.specialchar {
  color: #5f81b3;
  font-weight: normal;
  font-style: normal;
}

.comment {
  color: #9c3caf;
  font-weight: normal;
  font-style: italic;
}

.number {
  color: #20755a;
  font-weight: normal;
  font-style: normal;
}

.preproc {
  color: #0628cb;
  font-weight: normal;
  font-style: normal;
}

.symbol {
  color: #d2073b;
  font-weight: normal;
  font-style: normal;
}

.function {
  color: #901164;
  font-weight: bold;
  font-style: normal;
}

.cbracket {
  color: #d2073b;
  font-weight: normal;
  font-style: normal;
}

