body {
  background-color: #000000;
  color: #d149a6;
  font-weight: normal;
  font-style: normal;
}

.keyword {
  color: #ee85e2;
  font-weight: bold;
  font-style: normal;
}

.type {
  color: #aadd8b;
  font-weight: bold;
  font-style: normal;
}

.string {
  color: #9ef457;
  font-weight: normal;
  font-style: normal;
}

.specialchar {
  color: #9ef457;
  font-weight: normal;
  font-style: normal;
}

.comment {
  color: #35d6e5;
  font-weight: normal;
  font-style: italic;
}

.number {
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
}

.preproc {
  color: #07f6bf;
  font-weight: normal;
  font-style: normal;
}

.symbol {
  color: #348fef;
  font-weight: normal;
  font-style: normal;
}

.function {
  color: #d51993;
  font-weight: bold;
  font-style: normal;
}

.cbracket {
  color: #348fef;
  font-weight: normal;
  font-style: normal;
}

