body {
  background-color: #000000;
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
}

.keyword {
  color: #ffff00;
  font-weight: bold;
  font-style: normal;
}

.type {
  color: #00ff00;
  font-weight: normal;
  font-style: normal;
}

.string {
  color: #abab00;
  font-weight: bold;
  font-style: normal;
}

.specialchar {
  color: #bfbfbf;
  font-weight: normal;
  font-style: normal;
}

.comment {
  color: #888888;
  font-weight: normal;
  font-style: italic;
}

.number {
  color: #619de7;
  font-weight: normal;
  font-style: normal;
}

.preproc {
  color: #1da3cf;
  font-weight: normal;
  font-style: normal;
}

.symbol {
  color: #ff00ff;
  font-weight: normal;
  font-style: normal;
}

.function {
  color: #f34627;
  font-weight: normal;
  font-style: normal;
}

.cbracket {
  color: #ff00ff;
  font-weight: normal;
  font-style: normal;
}

