body {
  background-color: #ffffff;
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

.keyword {
  color: #9c20ee;
  font-weight: bold;
  font-style: normal;
}

.type {
  color: #208920;
  font-weight: normal;
  font-style: normal;
}

.string {
  color: #bd8d8b;
  font-weight: normal;
  font-style: normal;
}

.specialchar {
  color: #bd8d8b;
  font-weight: normal;
  font-style: normal;
}

.comment {
  color: #ac2020;
  font-weight: normal;
  font-style: italic;
}

.number {
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

.preproc {
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

.function {
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

