body {
  background-color: #000000;
  color: #ddbb00;
  font-weight: normal;
  font-style: normal;
}

.keyword {
  color: #ffed8a;
  font-weight: bold;
  font-style: normal;
}

.type {
  color: #ffed8a;
  font-weight: normal;
  font-style: normal;
}

.string {
  color: #ff0000;
  font-weight: normal;
  font-style: normal;
}

.specialchar {
  color: #ff0000;
  font-weight: normal;
  font-style: normal;
}

.comment {
  color: #978345;
  font-weight: normal;
  font-style: italic;
}

.number {
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
}

.preproc {
  color: #ffddaa;
  font-weight: normal;
  font-style: normal;
}

.symbol {
  color: #ababab;
  font-weight: normal;
  font-style: normal;
}

.function {
  color: #ddbb00;
  font-weight: bold;
  font-style: normal;
}

.cbracket {
  color: #ababab;
  font-weight: normal;
  font-style: normal;
}

