body {
  background-color: #ffffff;
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

.keyword {
  color: #000080;
  font-weight: bold;
  font-style: normal;
}

.type {
  color: #000080;
  font-weight: normal;
  font-style: normal;
}

.string {
  color: #ddbb00;
  font-weight: normal;
  font-style: normal;
}

.specialchar {
  color: #ddbb00;
  font-weight: normal;
  font-style: normal;
}

.comment {
  color: #ff0000;
  font-weight: normal;
  font-style: italic;
}

.number {
  color: #008800;
  font-weight: normal;
  font-style: normal;
}

.preproc {
  color: #678000;
  font-weight: normal;
  font-style: normal;
}

.function {
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

