body {
  background-color: #000044;
  color: #dd00ff;
  font-weight: normal;
  font-style: normal;
}

.keyword {
  color: #ffffff;
  font-weight: bold;
  font-style: normal;
}

.type {
  color: #f1157c;
  font-weight: bold;
  font-style: normal;
}

.string {
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
}

.specialchar {
  color: #82d66d;
  font-weight: normal;
  font-style: normal;
}

.comment {
  color: #bfbfbf;
  font-weight: normal;
  font-style: normal;
}

.number {
  color: #8ee119;
  font-weight: normal;
  font-style: normal;
}

.preproc {
  color: #00bb00;
  font-weight: normal;
  font-style: normal;
}

.symbol {
  color: #e7ee5c;
  font-weight: bold;
  font-style: normal;
}

.function {
  color: #ff06cd;
  font-weight: bold;
  font-style: normal;
}

.cbracket {
  color: #e7ee5c;
  font-weight: bold;
  font-style: normal;
}

