body {
  background-color: #000000;
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
}

.keyword {
  color: #B26818;
  font-weight: normal;
  font-style: normal;
}

.type {
  color: #00ff00;
  font-weight: normal;
  font-style: normal;
}

.string {
  color: #ff0000;
  font-weight: normal;
  font-style: normal;
}

.specialchar {
  color: #ff22ff;
  font-weight: normal;
  font-style: normal;
}

.comment {
  color: #0000ff;
  font-weight: normal;
  font-style: normal;
}

.number {
  color: #ff0000;
  font-weight: normal;
  font-style: normal;
}

.preproc {
  color: #ff22ff;
  font-weight: normal;
  font-style: normal;
}

.function {
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
}

