body {
  background-color: #000000;
  color: #00ff00;
  font-weight: normal;
  font-style: normal;
}

.keyword {
  color: #fa5a03;
  font-weight: bold;
  font-style: normal;
}

.type {
  color: #ffffff;
  font-weight: bold;
  font-style: normal;
}

.string {
  color: #ffbb00;
  font-weight: normal;
  font-style: normal;
}

.specialchar {
  color: #ffbb00;
  font-weight: normal;
  font-style: normal;
}

.comment {
  color: #ff0000;
  font-weight: normal;
  font-style: normal;
}

.number {
  color: #ffff00;
  font-weight: normal;
  font-style: normal;
}

.preproc {
  color: #bfbfbf;
  font-weight: normal;
  font-style: normal;
}

.symbol {
  color: #00ffff;
  font-weight: normal;
  font-style: normal;
}

.function {
  color: #e721d3;
  font-weight: normal;
  font-style: normal;
}

.cbracket {
  color: #00ffff;
  font-weight: normal;
  font-style: normal;
}

