body {
  background-color: #eeeeee;
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

.keyword {
  color: #bb7977;
  font-weight: bold;
  font-style: normal;
}

.type {
  color: #8080c0;
  font-weight: bold;
  font-style: normal;
}

.string {
  color: #a68500;
  font-weight: normal;
  font-style: normal;
}

.specialchar {
  color: #ff00ff;
  font-weight: bold;
  font-style: normal;
}

.comment {
  color: #ff8000;
  font-weight: normal;
  font-style: normal;
}

.number {
  color: #800080;
  font-weight: bold;
  font-style: normal;
}

.preproc {
  color: #0080c0;
  font-weight: bold;
  font-style: normal;
}

.symbol {
  color: #ff0080;
  font-weight: bold;
  font-style: normal;
}

.function {
  color: #004466;
  font-weight: normal;
  font-style: normal;
}

.cbracket {
  color: #ff0080;
  font-weight: bold;
  font-style: normal;
}

