body {
  background-color: #80bfff;
  color: #400080;
  font-weight: normal;
  font-style: normal;
}

.keyword {
  color: #3f2bf0;
  font-weight: bold;
  font-style: normal;
}

.type {
  color: #3f2bf0;
  font-weight: normal;
  font-style: normal;
}

.string {
  color: #c40000;
  font-weight: normal;
  font-style: normal;
}

.specialchar {
  color: #77379a;
  font-weight: normal;
  font-style: normal;
}

.comment {
  color: #df0959;
  font-weight: normal;
  font-style: italic;
}

.number {
  color: #20755a;
  font-weight: normal;
  font-style: normal;
}

.preproc {
  color: #0628cb;
  font-weight: normal;
  font-style: normal;
}

.symbol {
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

.function {
  color: #901164;
  font-weight: bold;
  font-style: normal;
}

.cbracket {
  color: #000000;
  font-weight: normal;
  font-style: normal;
}

