body {
  background-color: #ffffff;
  color: #401e7a;
  font-weight: normal;
  font-style: normal;
}

.keyword {
  color: #ff3030;
  font-weight: bold;
  font-style: normal;
}

.type {
  color: #f7b92c;
  font-weight: normal;
  font-style: normal;
}

.string {
  color: #1861a7;
  font-weight: normal;
  font-style: normal;
}

.specialchar {
  color: #1861a7;
  font-weight: normal;
  font-style: normal;
}

.comment {
  color: #38ad24;
  font-weight: normal;
  font-style: normal;
}

.number {
  color: #32ba06;
  font-weight: normal;
  font-style: normal;
}

.preproc {
  color: #5374b0;
  font-weight: normal;
  font-style: normal;
}

.symbol {
  color: #3030ee;
  font-weight: normal;
  font-style: normal;
}

.function {
  color: #d11ced;
  font-weight: normal;
  font-style: normal;
}

.cbracket {
  color: #3030ee;
  font-weight: normal;
  font-style: normal;
}

