body {
  background-color: #000000;
  color: #2346d5;
  font-weight: normal;
  font-style: normal;
}

.keyword {
  color: #1ededc;
  font-weight: bold;
  font-style: normal;
}

.type {
  color: #c06cf8;
  font-weight: bold;
  font-style: normal;
}

.string {
  color: #cfc631;
  font-weight: normal;
  font-style: normal;
}

.specialchar {
  color: #ccc6c6;
  font-weight: normal;
  font-style: normal;
}

.comment {
  color: #6fb2c4;
  font-weight: normal;
  font-style: italic;
}

.number {
  color: #c4ac60;
  font-weight: normal;
  font-style: normal;
}

.preproc {
  color: #8080ff;
  font-weight: normal;
  font-style: normal;
}

.symbol {
  color: #ccc6c6;
  font-weight: normal;
  font-style: normal;
}

.function {
  color: #1c96ed;
  font-weight: normal;
  font-style: normal;
}

.cbracket {
  color: #ccc6c6;
  font-weight: normal;
  font-style: normal;
}

