body {
  background-color: #af947e;
  color: #fffdec;
  font-weight: normal;
  font-style: normal;
}

.keyword {
  color: #fef8bc;
  font-weight: bold;
  font-style: normal;
}

.type {
  color: #fef8bc;
  font-weight: normal;
  font-style: normal;
}

.string {
  color: #f6f647;
  font-weight: normal;
  font-style: normal;
}

.specialchar {
  color: #f6f647;
  font-weight: normal;
  font-style: normal;
}

.comment {
  color: #a00000;
  font-weight: normal;
  font-style: italic;
}

.number {
  color: #3e3f25;
  font-weight: normal;
  font-style: normal;
}

.preproc {
  color: #833914;
  font-weight: normal;
  font-style: normal;
}

.symbol {
  color: #66574f;
  font-weight: normal;
  font-style: normal;
}

.function {
  color: #f3d266;
  font-weight: bold;
  font-style: normal;
}

.cbracket {
  color: #66574f;
  font-weight: normal;
  font-style: normal;
}

