body {
  background-color: #000040;
  color: #C7C7C7;
  font-weight: normal;
  font-style: normal;
}

.keyword {
  color: #ffff60;
  font-weight: normal;
  font-style: normal;
}

.type {
  color: #60ff60;
  font-weight: normal;
  font-style: normal;
}

.string {
  color: #ffa0a0;
  font-weight: normal;
  font-style: normal;
}

.specialchar {
  color: #ffa500;
  font-weight: normal;
  font-style: normal;
}

.comment {
  color: #80a0ff;
  font-weight: normal;
  font-style: normal;
}

.number {
  color: #42cad9;
  font-weight: normal;
  font-style: normal;
}

.preproc {
  color: #ff80ff;
  font-weight: normal;
  font-style: normal;
}

.symbol {
  color: #d8e91b;
  font-weight: bold;
  font-style: normal;
}

.function {
  color: #ffffff;
  font-weight: bold;
  font-style: normal;
}

.cbracket {
  color: #d8e91b;
  font-weight: bold;
  font-style: normal;
}

