body {
  background-color: #000035;
  color: #008bff;
  font-weight: normal;
  font-style: normal;
}

.keyword {
  color: #f8c50b;
  font-weight: bold;
  font-style: normal;
}

.type {
  color: #e1e72f;
  font-weight: normal;
  font-style: normal;
}

.string {
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
}

.specialchar {
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
}

.comment {
  color: #ffbb00;
  font-weight: normal;
  font-style: italic;
}

.number {
  color: #f87ff4;
  font-weight: normal;
  font-style: normal;
}

.preproc {
  color: #bb00ff;
  font-weight: normal;
  font-style: normal;
}

.symbol {
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
}

.function {
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
}

.cbracket {
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
}

