body {
  background-color: #ffffff;
  color: #121b28;
  font-weight: normal;
  font-style: normal;
}

.keyword {
  color: #0a7f6d;
  font-weight: bold;
  font-style: normal;
}

.type {
  color: #c42638;
  font-weight: bold;
  font-style: normal;
}

.string {
  color: #2b83ba;
  font-weight: normal;
  font-style: normal;
}

.specialchar {
  color: #a764cb;
  font-weight: normal;
  font-style: normal;
}

.comment {
  color: #ababab;
  font-weight: normal;
  font-style: italic;
}

.number {
  color: #0da344;
  font-weight: normal;
  font-style: normal;
}

.preproc {
  color: #620ac6;
  font-weight: normal;
  font-style: normal;
}

.symbol {
  color: #0000de;
  font-weight: normal;
  font-style: normal;
}

.function {
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

.cbracket {
  color: #0000de;
  font-weight: normal;
  font-style: normal;
}

