body {
    color: black;
    background-color: white;
    font-family: monospace;
}

.comment {
    color: blue;
    font-style: italic;
}

.keyword {
    color: darkred;
}

.string {
    color: green;
}

.type {
    color: darkgreen;
}

.number {
    color: teal;
}

.preproc {
    color: red;
}

.symbol {
    color: purple;
}

.function {
    color: darkblue;
}

.cbracket {
    color: gray;
}
