# This file is transmogrified into Setup.config by config.status.

# The purpose of this file is to conditionally enable certain modules
# based on configure-time options.

# init system calls(posix/nt/...) for INITFUNC (used by makesetup)
nt posixmodule.c

# This is needed to find out the user's home dir if $HOME is not set
#pwd pwdmodule.c

# Threading
_thread _threadmodule.c

# build-in modules for windows platform:
winreg ../PC/winreg.c
msvcrt ../PC/msvcrtmodule.c
_winapi _winapi.c

# The rest of the modules previously listed in this file are built
# by the setup.py script in Python 2.1 and later.
